:root {
  --h2-font-size: 24px;
  --h2-font-weight: normal;
  --paper-font-size: 19px;
  --main-font-size: 17px;
  --font: Palatino, sans-serif;
}

a {
  color: #0984e3;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #0ccfcf;
  text-decoration: none;
}

body {
  font-family: var(--font);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

ul {
  padding-left: 12px; /* 控制圆点的缩进 */
  margin-left: 0;
  list-style: none; /* 去掉默认的列表样式 */
  list-style-position:inside; /* 可选 */
}

li::before {
  content: "•";
  padding-right: 6px; /* 控制圆点与文本之间的间距 */
}

td,
th,
tr,
a {
  font-family: var(--font);
  font-size: var(--main-font-size);
}

p {
  font-family: var(--font);
  font-size: var(--main-font-size);
  line-height: 1.6;
}

h2 {
  margin: 0;
  font-weight: 500;
  font-family: var(--font);
  font-size: var(--h2-font-size);
  border-bottom: #D3D3D3 1.5px solid;
  padding-bottom: 5px;
}

papertitle {
  font-family: var(--font);
  font-size: var(--paper-font-size);
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: var(--font);
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

ul.spaced-list li {
  line-height: 1.4;
  margin-bottom: 5px;
}