a {
  color: #1f63a7;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #0ccfcf;
  text-decoration: none;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

td,
th,
tr,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
}

p {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 32px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.colored-box {
    color: black;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

ul.spaced-list li {
  line-height: 1.4;
  margin-bottom: 5px;
}